.header-container {
    display: flex;

    align-items: center;

    flex-direction: row;

    box-shadow: 0 0 10px 0 black;

    background-image: radial-gradient(#a4a4a4, #a59797);
}

.header-container-left, .header-container-middle, .header-container-right {
    display: flex;
    
    /* border: solid red; */
    
    padding: 10px;
    height: 100%;
    width: calc(1/3 * 100%);

}

.header-container-left {
    justify-content: flex-start;
}

.header-container-middle {
    justify-content: center;

}

.header-container-right {
    justify-content: flex-end;
    
}